body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  background-color: black;
  padding: 10px;
}

.box {
  border: 5px solid grey;
  background-color: white;
}

.red {
  background-color:red;
}

.teal {
  background-color: skyblue;
}

.gold {
  background-color:goldenrod;
}

.white {
  background-color:white;
}

.box:nth-child(1) { grid-row: 1 / span 2; grid-column: 1; }
.box:nth-child(2) { grid-row: 3; grid-column: 1; }
.box:nth-child(3) { grid-row: 1; grid-column: 2; }
.box:nth-child(4) { grid-row: 1; grid-column: 3; }
.box:nth-child(5) { grid-row: 2; grid-column: 2 / span 2; }
.box:nth-child(6) { grid-row: 1 / span 3; grid-column: 4; }
.box:nth-child(7) { grid-row: 3; grid-column: 2; }
.box:nth-child(8) { grid-row: 3; grid-column: 3; } 

